@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyMeal</h1>
    <p>Navigate to the meal page to order meals for this week. Click on the button below to go there now!</p>
    <div class="p-4 justify-content-center">
        <img src="~/images/logo.png" onclick="location.href='@Url.Action("Index","Order")'" alt="Order meals" style="cursor:pointer"/>
    </div>
</div>
