@using EasyMeal.Domain.Models;
@model EasyMeal.Domain.Models.Order;

@{ 
    ViewData["Title"] = "Update";
} 

<h1>Update order</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Appetizer" class="control-label"></label>
                    <input asp-for="Appetizer" class="control-label" />
                </div>
                <div class="form-group">
                    <label asp-for="Dessert" class="control-label"></label>
                    <input asp-for="Dessert" class="control-label" />
                </div>
                <div class="form-group">
                    <label asp-for="OrderSize" class="control-label">Meal Size</label>
                    <select asp-for="OrderSize" asp-items="Html.GetEnumSelectList<Size>()" name="OrderSize"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>