@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MealManagement app.</h1>
    <h4>With this app you can create new meals and add chefs to the system.</h4>
    <div class="p-4 mt-3 justify-content-center">
        <span class="display-1 mr-5" style="cursor:pointer">@Html.ActionLink("🍕", "Index", "Meal", null, new { style = "text-decoration:none;" })</span>
        <span class="display-1 ml-5" style="cursor:pointer">@Html.ActionLink("👨‍🍳", "Index", "Chef", null, new { style = "text-decoration:none;" })</span>
    </div>
</div>
